__pycache__/*.pyc
carla/__pycache__/*.pyc
checkpoints/

MYCode.py
carla/agent/__pycache__/
carla/driving_benchmark/__pycache__/
carla/driving_benchmark/experiment_suites/__pycache__/
carla/planner/__pycache__/
